<div class="container" [ngClass]="{containerHandheld: (isHandset | async)!.matches}">
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

</div>
