<div class="container">
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>
  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

  <app-film title="Movie Title" description="Movie Description"></app-film>

</div>
