@import "../../variables.scss";
.container {
  max-height: calc(100vh - 96px);
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
  app-film {
    width: 20%;
    margin: 1rem;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(194, 211, 237, 0.5);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(31, 38, 46);
  border-radius: 2px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.containerHandheld {
  max-height: calc(100vh - 88px);
  app-film {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
  svg{
    margin-left: 5px;
    fill: $fontColor
  }
  span {
    font-size: 1.2em;
  }
}

.sortContainerHandheld {
  span {
    font-size: 1em;
  }
  margin-right: 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  span {
    display: block;
    text-align: center;
    color: white;
    min-width: 120px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border: none;
    cursor: pointer;
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: $sidenavColor;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;

  a {
    color: $fontColor;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
    border-radius: 3px;
    transition: 0.1s all ease-in;

  }
  a:hover {background-color: $buttonHover}
}

.dropdown:hover .dropdownContent {
  display: block;
}
