<div class="sort-container" [ngClass]="{ sortContainerHandheld: (isHandset | async)!.matches }">
  <div class="dropdown">
    <span>{{sortChosen}}</span>
    <div class="dropdownContent">
      <a #oldest (click)="sortClick(oldest)">Oldest First</a>

      <a #newest  (click)="sortClick(newest)">Newest First</a>

      <a #title  (click)="sortClick(title)">By Title</a>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/></svg>
</div>
<div
  class="container"
  [ngClass]="{ containerHandheld: (isHandset | async)!.matches }"
>
  <app-film
    *ngFor="let movie of filteredMovies"
    [title]="movie.Movie"

    [@inOutAnimation]
  ></app-film>
</div>
