<div class="container"
[ngClass]="{ containerHandheld: (isHandset | async)!.matches }"
>
  <app-film title="Episode 1" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam sapiente, magnam recusandae inventore eos ab qui ut fuga eum ad veniam dolor sed consequatur animi id tempore consectetur eligendi!"></app-film>
  <app-film title="Episode 1" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam sapiente, magnam recusandae inventore eos ab qui ut fuga eum ad veniam dolor sed consequatur animi id tempore consectetur eligendi!"></app-film>
  <app-film title="Episode 1" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam sapiente, magnam recusandae inventore eos ab qui ut fuga eum ad veniam dolor sed consequatur animi id tempore consectetur eligendi!"></app-film>
  <app-film title="Episode 1" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam sapiente, magnam recusandae inventore eos ab qui ut fuga eum ad veniam dolor sed consequatur animi id tempore consectetur eligendi!"></app-film>
  <app-film title="Episode 1" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam sapiente, magnam recusandae inventore eos ab qui ut fuga eum ad veniam dolor sed consequatur animi id tempore consectetur eligendi!"></app-film>
</div>
