@import "../../variables.scss";
* {
  transition: 0.2s all ease-in-out;
}
.toolbar {
  height: 64px;
  background-color: $toolbarColor;
  display: flex;
  align-items: center;
  .svg-container {
    opacity: 1;
    height: 100%;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    svg {
      height: 30px;
    }
  }
  span {
    margin-left: 1em;
    font-size: 1.5em;
    color: white;

  }

  .svg-container:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .svg-container:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.toolbarHandheld {
  height: 56px;
  span {
    margin: 0;
    font-size: 1.2em;
  }
  .svg-container {
    width: 56px;
  }
}
.spacer {
  flex: 1 1 auto;
}
.search-region {
  display: flex;
  align-items: center;
  margin-right: 2em;
  border: 1px solid rgba(0, 255, 0, 0.3);
  border-radius: 5px;
  input {
    background-color: transparent;
    outline: none;
    border: none;
    color: $fontColor;
    font-size: 1.5em;
    font-family: "Roboto Light";
    width: 15vw;
    margin-left: 5px;
  }
  svg {
    height: 35px;
    border-radius: 5px;
  }
}

.searchRegionHandheld {
  margin-right: 1em;
  border: 1px solid rgba(0, 255, 0, 0);
  input {
    font-size: 1em;
    width: 0;
    visibility: hidden;
  }
  svg {
    height: 30px;
  }
}

.searchHandheldActive {
  border: 1px solid rgba(0, 255, 0, 0.5);
  input {
    visibility: visible;
    width: 25vw;
  }
}

.disable-select {
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
